.main{
  width: 300px;
  height: 200px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 200px;
  padding-bottom: 400px;
  margin: auto;
  border: 5px solid blue;
  background-image: url("https://i.gifer.com/origin/58/58bcdf57d5cbae761e796df882903fbd.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.search{
  
font-size: 25px;
color: red;
  border: 2px solid red;
  border-radius: 4px;
  margin: auto;
padding: 10px;
width: 300px;
}
.city{
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.tem{
  color: whitesmoke;
  font: bold;
  font-size: 25px;
}
